{%extends './base.html'%}
    {%block content%}
    {%load static%}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>New Arrivals</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="KES">
									<option data-display="Select">Nothing</option>
									<option value="1">Popularity</option>
									<option value="2">High Price → Low Price</option>
									<option value="3">Low Price → High Price</option>
									<option value="4">Best Selling</option>
								</select>
                                </div>
                                <p>Showing all results</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        
                                        {%for item in new%}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 product_data">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{item.id}}", class="prod_id">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="{{item.product_image.url}}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="{%url 'productdetail' item.slug%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><button class= 'btn btn-outline-secondary addToWishlist'><i class="far fa-heart"></i></button></li>
                                                        </ul>
                                                        <a class="cart" href="{%url 'mycart' %}"><button class= 'btn btn-outline-secondary addToCartBtn'>Add to Cart</button></a>
                                                                                                                
                                                       <!-- <a class="cart" href="cart.html">Add to Cart</a> -->
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="{%url 'shopsize'%}" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Size Selection <small class="text-muted">(100)</small>
								</a>
                                    {% comment %} <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="{%url 'shop'%}" class="list-group-item list-group-item-action">Plus-size <small class="text-muted">(10)</small></a>
                                            <a href="{%url 'shop'%}" class="list-group-item list-group-item-action">Petite wear <small class="text-muted">(10)</small></a>
                                            <a href="{%url 'shop'%}" class="list-group-item list-group-item-action">Normal size <small class="text-muted">(10)</small></a>
                                            <a href="{%url 'shop'%}" class="list-group-item list-group-item-action">Free size<small class="text-muted">(20)</small></a>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                {% comment %} <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="{%url 'shop'%}" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Choose your
								<small class="text-muted">(50)</small>
								</a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="{%url 'shop'%}" class="list-group-item list-group-item-action">Dresses <small class="text-muted">(10)</small></a>
                                            <a href="{%url 'shop'%}" class="list-group-item list-group-item-action">Accessories <small class="text-muted">(20)</small></a>
                                            <a href="{%url 'shop'%}" class="list-group-item list-group-item-action">Shirts <small class="text-muted">(20)</small></a>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                                <a href="{%url 'trending'%}" class="list-group-item list-group-item-action"> Trending  <small class="text-muted">(150) </small></a>
                                <a href="{%url 'newarrival'%}" class="list-group-item list-group-item-action"> New Arrivals<small class="text-muted">(11)</small></a>
                                <a href="{%url 'clearance'%}" class="list-group-item list-group-item-action"> Clearance<small class="text-muted">(22)</small></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    {%endblock content%}