{%extends 'Store/base.html'%}
{%block content%}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Return Policy</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active"> Return Policy </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="container">
    <div class="products-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Return Policy</h1>
                    <br>
                    <hr>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Voluptate adipisci illum expedita debitis corporis 
                        soluta laborum alias modi unde necessitatibus quo reprehenderit at nostrum
                         architecto repellendus voluptatum cum, qui nobis?
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Voluptate adipisci illum expedita debitis corporis 
                    soluta laborum alias modi unde necessitatibus quo reprehenderit at nostrum
                        architecto repellendus voluptatum cum, qui nobis?
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Voluptate adipisci illum expedita debitis corporis 
                        soluta laborum alias modi unde necessitatibus quo reprehenderit at nostrum
                            architecto repellendus voluptatum cum, qui nobis?
                    </p>
            </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}